* {
    margin: 0px;
    padding: 0px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight:400;
    font-size: 16px;
    color: #0A3871;
}

textarea {
    resize: none;
}

body {
    background: #F3F5FC;
}

    .father {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        align-content: center;
        padding: 40px;
    }

        .header {
            display: flex;
            flex-flow: column nowrap;
            flex: 0 0 200px;
            height: 48px;
            align-items:flex-start;
        }

            .logo {
                display: flex;
                width: 120px;
                flex-flow: column nowrap;
            }

                a {
                    display: flex;
                    flex-flow: column nowrap;
                }

                    .logo_img {
                        display: flex;
                        height: 48px;
                    }